{% extends "base.html" %}


{% block body %}
<div class="row">
    <div class="large-12 columns">
        <h1>Messages</h1>
    </div>
</div>
<div class="row">
    <section class="large-7 small-12 columns messages">
        <h3>History</h3>
        <ul class="message-list">
            <li>Hack Night - Tuesday, Feptembuary 32nd <span class="radius label">Unpublished</span></span></li>
            <li>Monthly Meeting - Tuesday Smarch 2nd  <span class="radius success label">Published</span> <span class="twitter icon"><img src="/static/img/icons/twitter.png" alt=""></span> <span class="facebook icon"><img src="/static/img/icons/fb.png" alt=""></span></li>
            <li>Hack Night - Tuesday, Janutober 34th <span class="radius success label">Published</span> <span class="twitter icon"><img src="/static/img/icons/twitter.png" alt=""></span> </li>
        </ul>
    </section>
</div>
{% endblock %}

