{% extends "base.html" %}


{% block body %}
<div class="row">
    <div class="large-12 columns">
        <h1>New Message</h1>
    </div>
</div>
<div class="row">
    <section class="large-7 small-12 columns messages">
        <h3>Please enter your message</h3>
        <form action="/new" method="POST">
            <div class="row">
                <div class="large-4 columns">{{form.date.label}}{{form.date(placeholder="MM/DD/YYYY hh:mm")}}</div>
            </div>
            <div class="row">
                <div class="large-12 columns">{{form.message.label}}{{form.message(placeholder="Message")}}</div>
            </div>
            <div class="row">
                <div class="large-12 columns"><label>Medium</label>
                        {{form.send_twitter()}}{{form.send_twitter.label}}
                        {{form.send_facebook()}}{{form.send_facebook.label}}
                        {{form.send_meetup()}}{{form.send_meetup.label}}
                </div>
            </div>
            <div class="row">
                <input type="submit" class="button right" value="Submit"></input>
            </div>
            <div class="row">
                {% if form.errors %}
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <div class="alert-box alert radius">{{ field_name }}: {{ error }}</div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </form>

    </section>
</div>
{% endblock %}